body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: black;
    background: #F9F9F9;
}
@font-face {
    font-family: "OpenSans-Light";
    src: url(http://aori.ru/templates/custom_page/mainpage1/fonts/OpenSans-Light.ttf);
}
}